In [1]:
# populating covid-19 symptoms dataset
import numpy as np

def basic_1_or_0():
    x = np.random.randint(100)
    if x <50:
        return 1
    else:
        return 0

In [2]:
def favour_0_medium():
    x = np.random.randint(100)
    if x <75:
        return 0
    else:
        return 1
def favour_0_high():
    x = np.random.randint(100)
    if x < 95:
        return 0
    else:
        return 1
def favour_1_medium():
    x = np.random.randint(100)
    if x < 75:
        return 1
    else:
        return 0
def favour_1_high():
    x = np.random.randint(100)
    if x<95:
        return 1
    else:
        return 0

In [3]:
dic = {
    'fever':[],
    'tiredness':[],
    'dry_cough':[],
    'difficulty_in_breathing':[],
    'sore_throat':[],
    'body_pains':[],
    'runny_nose':[],
    'diarrhea':[],
    'loss_of_smell':[],
}
dic

{'fever': [],
 'tiredness': [],
 'dry_cough': [],
 'difficulty_in_breathing': [],
 'sore_throat': [],
 'body_pains': [],
 'runny_nose': [],
 'diarrhea': [],
 'loss_of_smell': []}

In [4]:
for i in range(25000):
    dic['fever'].append(basic_1_or_0())
    dic['tiredness'].append(basic_1_or_0())    
    dic['dry_cough'].append(basic_1_or_0())    
    dic['difficulty_in_breathing'].append(basic_1_or_0()) 
    dic['sore_throat'].append(basic_1_or_0()) 
    dic['body_pains'].append(basic_1_or_0())    
    dic['runny_nose'].append(basic_1_or_0())    
    dic['diarrhea'].append(basic_1_or_0())    
    dic['loss_of_smell'].append(basic_1_or_0())

In [5]:
import pandas as pd
df1 = pd.DataFrame(dic)
df1.head(3)

,fever,tiredness,dry_cough,difficulty_in_breathing,sore_throat,body_pains,runny_nose,diarrhea,loss_of_smell
0,0,0,1,0,0,1,0,1,0
1,1,1,1,0,1,1,0,1,1
2,1,1,0,0,0,1,0,1,1

In [6]:
df1.columns

Index(['fever', 'tiredness', 'dry_cough', 'difficulty_in_breathing',
       'sore_throat', 'body_pains', 'runny_nose', 'diarrhea', 'loss_of_smell'],
      dtype='object')

In [7]:
def go_give_target(sum):
    if sum <= 1 :
        return favour_0_high()
    elif sum >=2 and sum <=3:
        return favour_0_medium()
    elif sum >=4 and sum <=5:
        return favour_1_medium()
    else:
        return favour_1_high()

In [8]:
def myfunc(df):
    my_columns = df.columns
    result_list=[]
    for i  in range(len(df)):
        sum = 0
        for j in range(len(my_columns)):
            sum+=df.loc[i,my_columns[j]]
        result_list.append(go_give_target(sum))
    return result_list

In [9]:
df1['covid_19'] =myfunc(df1)

In [10]:
df1.head()

,fever,tiredness,dry_cough,difficulty_in_breathing,sore_throat,body_pains,runny_nose,diarrhea,loss_of_smell,covid_19
0,0,0,1,0,0,1,0,1,0,0
1,1,1,1,0,1,1,0,1,1,1
2,1,1,0,0,0,1,0,1,1,1
3,1,1,1,1,0,0,1,1,1,1
4,0,1,1,0,0,1,1,0,1,1

In [11]:
df1.shape

(25000, 10)

In [12]:
# determining that a person with fever will have more tendency to have covid_19
import matplotlib.pyplot as plt
%matplotlib inline
pd.crosstab(df1.covid_19,df1.fever)

fever        0     1
covid_19
0         5207  3103
1         7428  9262

In [13]:
pd.crosstab(df1.covid_19,df1.dry_cough)

dry_cough     0     1
covid_19
0          5145  3165
1          7257  9433

In [14]:
pd.crosstab(df1.covid_19,df1.tiredness)

tiredness     0     1
covid_19
0          5208  3102
1          7240  9450

In [15]:
pd.crosstab(df1.covid_19,df1.difficulty_in_breathing)

difficulty_in_breathing     0     1
covid_19
0                        5141  3169
1                        7346  9344

In [16]:
pd.crosstab(df1.covid_19,df1.sore_throat)

sore_throat     0     1
covid_19
0            5152  3158
1            7381  9309

In [17]:
pd.crosstab(df1.covid_19,df1.body_pains)

body_pains     0     1
covid_19
0           5184  3126
1           7468  9222

In [18]:
pd.crosstab(df1.covid_19,df1.loss_of_smell)

loss_of_smell     0     1
covid_19
0              5187  3123
1              7318  9372

In [19]:
df1.describe()

,fever,tiredness,dry_cough,difficulty_in_breathing,sore_throat,body_pains,runny_nose,diarrhea,loss_of_smell,covid_19
count,25000.000000,25000.000000,25000.000000,25000.00000,25000.000000,25000.000000,25000.000000,25000.000000,25000.00000,25000.000000
mean,0.494600,0.502080,0.503920,0.50052,0.498680,0.493920,0.498400,0.498600,0.49980,0.667600
std,0.499981,0.500006,0.499995,0.50001,0.500008,0.499973,0.500007,0.500008,0.50001,0.471083
min,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000
25%,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000
50%,0.000000,1.000000,1.000000,1.00000,0.000000,0.000000,0.000000,0.000000,0.00000,1.000000
75%,1.000000,1.000000,1.000000,1.00000,1.000000,1.000000,1.000000,1.000000,1.00000,1.000000
max,1.000000,1.000000,1.000000,1.00000,1.000000,1.000000,1.000000,1.000000,1.00000,1.000000

In [20]:
X = df1.drop('covid_19',axis='columns')
y=df1.covid_19

In [21]:
# now since this could be a classification problem we are going to use all classification machine learning algorithms
# to figure out which one is better
from sklearn.model_selection import GridSearchCV,train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.naive_bayes import GaussianNB,MultinomialNB

In [28]:
model_dic = {
    'logistic_regression':{
        'model':LogisticRegression(max_iter=8000),
        'params':{
            'C':[10,20],
        }
    },
    'svm':{
    'model': SVC(),
    'params':{
        'C':[1,15],
        'kernel':['rbf','linear'],
    }
    },
    'decision_tree':{
        'model':DecisionTreeClassifier(),
        'params':{ }
    },
    'random_forest':{
        'model':RandomForestClassifier(),
        'params':{
            'n_estimators':[1,30,50],
        }
    },
    'gaussian_nb':{
        'model':GaussianNB(),
        'params':{},
    },
    'multinomial_nb':{
        'model':MultinomialNB(),
        'params':{},
    }
}

In [30]:
result_model={}
for key,value in model_dic.items():
    clf = GridSearchCV(value['model'],value['params'],cv=2,return_train_score=False)
    clf.fit(X,y)
    result_model[key]=[clf.best_score_,clf.best_params_]
result_df = pd.DataFrame(result_model)
result_df

,logistic_regression,svm,decision_tree,random_forest,gaussian_nb,multinomial_nb
0,0.8048,0.8048,0.80432,0.80432,0.8048,0.6676
1,{'C': 10},"{'C': 1, 'kernel': 'linear'}",{},{'n_estimators': 50},{},{}

In [35]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.20)

In [36]:
model  = LogisticRegression(max_iter=8000)
model.fit(X_train,y_train)
model.score(X_test,y_test)*100

80.58

In [42]:
import pickle
with open('covid_19_model.pickle','bw') as f:
    pickle.dump(model,f)

In [44]:
model.predict(X_test[0:3])

array([1, 1, 0], dtype=int64)

In [51]:
import json
result_json = {
    'columns':[x.lower() for x in X.columns]
}
print(result_json)
with open('covid_columns.json','w') as f:
    f.write(json.dumps(result_json))

{'columns': ['fever', 'tiredness', 'dry_cough', 'difficulty_in_breathing', 'sore_throat', 'body_pains', 'runny_nose', 'diarrhea', 'loss_of_smell']}

In [52]:
df1.head()

,fever,tiredness,dry_cough,difficulty_in_breathing,sore_throat,body_pains,runny_nose,diarrhea,loss_of_smell,covid_19
0,0,0,1,0,0,1,0,1,0,0
1,1,1,1,0,1,1,0,1,1,1
2,1,1,0,0,0,1,0,1,1,1
3,1,1,1,1,0,0,1,1,1,1
4,0,1,1,0,0,1,1,0,1,1

In [ ]:
df1.to_csv('')